@font-face {
    font-family: "TTLakes"; 
    src: url("../fonts/TTLakes-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
} 

@font-face {
    font-family: "TTLakes";
    src: url("../fonts/TTLakes-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: bold;
}

@font-face {
    font-family: "TTLakes";
    src: url("../fonts/TTLakes-DemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}